/* small devise responsiveness */
@media screen and (max-width: 576px) {

    /* header section */
    .navbar, .nav_ul, .teams{
        flex-direction: column;
        gap: 20px;
    }
    .nav_link{
        font-weight: bold;
    }
    /* banner section */
    .banner_description{
        max-width: 95%;
    }
    .teams_img_container{
        grid-template-columns: repeat(1, 1fr);
    }
   .our_features{
    margin-left: 10px;
   }
}


/* medium devise responsiveness */

@media screen and (min-width: 576.1px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
}