/* small devise responsiveness */
@media screen and (max-width: 576px) {

    /* header section */
    .navbar, .nav_ul, .teams{
        flex-direction: column;
        gap: 20px;
    }
    .nav_link{
        font-weight: bold;
    }
    /* banner section */
    .banner_description{
        max-width: 95%;
    }
    .teams_img_container{
        grid-template-columns: repeat(1, 1fr);
    }
   .our_features{
    margin-left: 10px;
   }
   /* fact card responsiveness */
   .fact_container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
   }
   .fact_content p, h3{
    padding: 0 4px;
   }
}


/* medium devise responsiveness */

@media screen and (min-width: 576.1px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .fact_container{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
   }
   .fact_content{
    max-width: 100%;
    justify-items: center;
   }
}