
/* work sans google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work_font{
    font-family: Work sans , sans-serif;
}

/* shared styles */

.dis_flex{
    display: flex;
}

.color_gray{
    color: gray;
}
.color_drk_gray{
    color: darkgray;
}




.primary_btn{
    background-color: orange;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
}
.primary_btn a{
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
}

/* header styles */
.header_section{
    background-color: antiquewhite;
    max-width: 1440px;
    margin: 0 auto;
    /* height: 400px; */
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 40px;
    margin-bottom: 50px;
}
.brand{
    font-size: 2rem;
    font-weight: 600;
}
.nav_ul{
    justify-content: space-around;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_link{
    text-decoration: none;
    
}

/* banner section */
.banner_section{
    max-width: 860px;
    margin: 0 auto;

}

.banner_description{
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    /* line-height: 50px; */
}
.banner_h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner_p{
    margin-bottom: 20px;
}
.banner_img{
    width: 100%;
    margin-bottom: 30px;
}

