
/* work sans google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work_font{
    font-family: Work sans , sans-serif;
}

/* shared styles */

.dis_flex{
    display: flex;
}

.color_gray{
    color: gray;
}
.color_drk_gray{
    color: darkgray;
}
main{
    max-width: 1240px;
    margin: 0 auto;
}
main>section{
    margin-top: 100px;
}

.primary_btn{
    background-color: orange;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
}
.primary_btn a{
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    text-decoration: none;
}

.primary_btn:hover{
    background-color: gray;
    transition: 1s ease-in-out;
    cursor: pointer;
}

/* header styles */
.header_section{
    background-color: antiquewhite;
    max-width: 1440px;
    margin: 0 auto;
    /* height: 400px; */
}

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 40px;
    margin-bottom: 50px;
}
.brand{
    font-size: 2rem;
    font-weight: 600;
}
.nav_ul{
    justify-content: space-around;
}
.nav_item{
    list-style: none;
    margin-right: 30px;
}
.nav_link{
    text-decoration: none;
    
}

.nav_link:hover{
    color: orange;
    font-size: 1.15em;
    font-weight: 700;
    transition: 1s ease;
}

/* banner section */
.banner_section{
    max-width: 860px;
    margin: 0 auto;

}

.banner_description{
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    /* line-height: 50px; */
}
.banner_h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner_p{
    margin-bottom: 20px;
    line-height: 20px;
}
.banner_img{
    width: 100%;
    margin-bottom: 30px;
}

/* teams image and our features section */

.teams{
    /* background-color: aqua; */
    align-items: center;
    gap: 50px;
}
.teams_img_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.our_features{
    max-width: 550px;

}
.quick{
    font-size: 3rem;
    font-weight: 500;
     margin-bottom: 20px;
}
#of_our{
    color: black;
    font-weight: 700;
}
#feature{
    color: orange;
    font-weight: 700;
   
}
.feature_p{
    text-align: justify;
    padding: 0 20px 20px 0;
}

/* fact card section */

/* .hide{
    display: none;
} */
.fact_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 20px; */
    margin-top: 30px;
}
.fact_content{
    max-width: 450px;
    padding-left: 10px;
}
.fact_content h3{
    font-size: 2rem;
    color: orange;
}
.fact_content p{
    text-align: justify;
}
.fact_card{
    border: 1px solid orange;
    border-radius: 8px;
    height: 250px;
    width: 250px;

    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;

}
.fact_value{
    font-size: 2rem;
}
.fact_des{
    font-weight: 500;
    font-size: 1.2em;
}